################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConvexHull/ConvexHull/obj/Debug/net8.0-windows
/ConvexHull/ConvexHull/obj
/ConvexHull/ConvexHull/bin/Debug/net8.0-windows
/ConvexHull/.vs/ConvexHull
/ConvexHull/.vs/ProjectEvaluation
